/* .orgname {
  margin-top: 25px;
  border: 1px solid #d8dbdc;
  width: 400px;
  height: 40px;
}

.requestedplan {
  margin-top: 20px;
  border: 1px solid #d8dbdc;
  width: 408px;
  height: 45px;
  color: #7e7d7d;
}

.website {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #d8dbdc;
  width: 400px;
  height: 40px;
}
.location {
  margin-top: 20px;

  border: 1px solid #d8dbdc;
  width: 400px;
  height: 40px;
}
.phonenumber {
  margin-top: 20px;

  border: 1px solid #d8dbdc;
  width: 400px;
  height: 40px;
}

.form-inputs {
  padding-top: 150px;
}

.multi_submit {
  cursor: pointer;
  border-radius: 50px;
  width: 180px;
  height: 45px;
  background-color: cadetblue;
  color: white;
  border-style: none;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}
.multi_back {
  cursor: pointer;
  border-radius: 50px;
  width: 180px;
  height: 45px;
  background-color: cadetblue;
  color: white;
  border-style: none;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  margin-right: 40px;
} */
